<h2><%= book.title %></h2>
<img height="150" width="100" src="<%= book.coverImagePath %>">
<div>Author: <%= book.authorName.name %></div>
<div>Publish Date: <%= book.publishDate.toDateString() %></div>
<div>Page Count: <%= book.pages %></div>
<div>Description: <%= book.description %></div>
<a href="/books/<%= book.id %>/edit">Edit</a>
<%- include('../partials/deleteForm.ejs' , 
            { url: `/books/${ book.id }`}) %>
<a href="/authors/<%= book.authorName.id %>">View Author</a>